<img src="{{ album.album_logo }}" alt="" width="200px" height= '200px'>

<h1>{{ album.album_title }}</h1>
<h3>{{ album.artist }}</h3>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'music:favorite' album.id %}" method = "post">
    {% csrf_token %}
    {% for song in album.song_set.all %}
        <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}"/>
        <label for="song{{ forloop.counter }}">
            {{ song.song_title }}
            {% if error_message %}
                <img src="http://i.imgur.com/b9b13Rd.png" alt="">
            {% endif %}
        </label><br>
    {% endfor %}
    <input type="submit" value="favorite">
</form>

